# **SQL TIPS AND TRICKS**

**ðŸ’¥ Represent beginner,Â ðŸ’¥ðŸ’¥ðŸ’¥Intermediate,Â ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Advanced,Â ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Highly skilled**

ðŸ’¥Trick 1: Returning transaction months and their total sales

Uses Case: The SQL query is designed to retrieve the total sales for each month from the `transactions_fact` table.

Explanation: SELECT transaction \_month from the dbo.transactions\_fact table, Sum the total\_sales, GROUP BY transaction\_month and ORDER BY transaction\_month DESC

```
SELECT transaction_month, 
		SUM(total_sale) AS total_sales
FROM dbo.transactions_fact
GROUP BY transaction_month
ORDER BY transaction_month DESC;
```

In [1]:
SELECT TOP 5 transaction_month, 
		SUM(total_sale) AS total_sales
FROM dbo.transactions_fact
GROUP BY transaction_month
ORDER BY transaction_month DESC;

transaction_month,total_sales
September,219294.91243445873
October,205500.7844363451
November,274695.6645374298
May,215285.77651572227
March,232756.20839560032

ðŸ’¥ðŸ’¥Trick 2:Â Return the first 5 products with the highest Total Sales and their store locations

Use Case: This SQL query retrieves and displays the top 5 products with the highest total sales, along with their respective store locations.

Explanation: SELECT TOP 5 (this clause limits the output by the top 5 products according to their total sales

```
SELECT TOP 5 pro.product_name as 'Product Name',
       cy.store_city as 'Store Location',
       tr.total_sale as 'Total Sale'
FROM dbo.products_dim pro
INNER JOIN dbo.transactions_fact tr
ON pro.product_id = tr.product_id
INNER JOIN dbo.cities_dim cy
ON tr.city_id = cy.city_id
ORDER BY 'Total Sale' DESC

```

In [1]:
SELECT TOP 5 pro.product_name as 'Product Name',
       cy.store_city as 'Store Location',
	   tr.total_sale as 'Total Sale'
FROM dbo.products_dim pro
INNER JOIN dbo.transactions_fact tr
ON pro.product_id = tr.product_id
INNER JOIN dbo.cities_dim cy
ON tr.city_id = cy.city_id
ORDER BY 'Total Sale' DESC

Product Name,Store Location,Total Sale
Hermanos Lemons,Salem,44.12800216674805
Tell Tale Cantelope,Vancouver,42.784000396728516
Tell Tale Almonds,Salem,41.215999603271484
Even Better Havarti Cheese,Salem,40.43199920654297
Even Better String Cheese,Salem,39.20000076293945

ðŸ’¥ðŸ’¥Trick 3:Â Return the Total Sales by Region

Use Case: This is the best query for a company toÂ determine the performance of its activities in the various regions it operates in.

<span style="color: var(--vscode-foreground);">Explanation: Two different tables need to be joined to report this data. JOIN transaction_fact table with cities_dim table by using their city_ids.</span>

```
SELECT cy.sales_region, 
        SUM(tr.total_sale) AS total_sales
FROM dbo.transactions_fact tr
JOIN dbo.cities_dim cy 
ON tr.city_id = cy.city_id
GROUP BY cy.sales_region
```

In [2]:
SELECT cy.sales_region, 
        SUM(tr.total_sale) AS total_sales
FROM dbo.transactions_fact tr
JOIN dbo.cities_dim cy 
ON tr.city_id = cy.city_id
GROUP BY cy.sales_region

sales_region,total_sales
Canada West,226775.72849678993
Central West,24196.78405368328
North West,1796018.483824253
South West,676241.9851863384

ðŸ’¥ðŸ’¥Trick 4:Â Return the top-selling product in Vancouver

Use Case: To learn about the top-selling products in Vancouver, you will need this particular query. The report of this query will help decision making in Vnacouver transactions.

Explanation: The report of this query comes from two different tables. Therefore, the query is done by INNER JOINING of transaction\_fact table to products\_dim table via the use of product\_id.

  

```
SELECT TOP 1 pro.product_name, 
		SUM(tr.total_sale) AS 'Total Sales'
FROM dbo.transactions_fact tr
	INNER JOIN dbo.products_dim pro 
	ON tr.product_id = pro.product_id
WHERE tr.city_id = 19
GROUP BY pro.product_name
ORDER BY 'Total Sales' DESC;
```

In [3]:
SELECT TOP 1 pro.product_name, 
		SUM(tr.total_sale) AS 'Total Sales'
FROM dbo.transactions_fact tr
	JOIN dbo.products_dim pro 
	ON tr.product_id = pro.product_id
WHERE tr.city_id = 19
GROUP BY pro.product_name
ORDER BY 'Total Sales' DESC;

product_name,Total Sales
Horatio Frosted Cookies,399.3600158691406

ðŸ’¥ðŸ’¥ðŸ’¥Trick 5:Â Return the total sales by cities andÂ <span style="color: var(--vscode-foreground);">Limit the search to Citeis that begin with 'S'</span>

Use Case: This query is used to report on a specific City in the database. It can also be used to report on a specific product.

<span style="color: var(--vscode-foreground);">Explanation: Again, you will need two different tables to make this query successful. You need the cities_dim table and transactions_fact table. INNER JOIN the two tables with city_id from all the two tables. WHERE clause with LIKE&nbsp; '%' wildcard is then used to limit the search to cities that begin with S. Finally, you use GROUP BY and ORDER BY clauses.</span>

```
SELECT cy.store_city,
       SUM(tr.total_sale) as 'Total Sales'
FROM dbo.cities_dim cy
INNER JOIN dbo.transactions_fact tr
ON cy.city_id = tr.city_id
WHERE store_city LIKE 'S%'
GROUP BY cy.store_city
ORDER BY 'Total Sales' DESCÂ 
```

In [4]:
SELECT cy.store_city,
       SUM(tr.total_sale) as 'Total Sales'
FROM dbo.cities_dim cy
INNER JOIN dbo.transactions_fact tr
ON cy.city_id = tr.city_id
WHERE store_city LIKE 'S%'
GROUP BY cy.store_city
ORDER BY 'Total Sales' DESC

store_city,Total Sales
Salem,359772.6567313671
Seattle,244510.1284675598
San Diego,234326.0644943714
Spokane,232354.44847083092
San Francisco,24196.78405368328

ðŸ’¥ðŸ’¥ðŸ’¥Trick 6:Â Return the highest number of transactions for each product

Use Case: The query is essential for finding the highest transactions for each product

Explanation: Use INNER JOIN to select product\_name and transactions\_date from the products\_dim and transaction\_fact tables via product\_id. Then COUNT transaction\_date as Transaction Count and GROUP BY product\_name.

```
SELECT pro.product_name,
       COUNT(tr.transaction_date) as 'Transaction Count'
FROM dbo.products_dim pro
INNER JOIN dbo.transactions_fact tr
ON pro.product_id = tr.product_id
GROUP BY pro.product_name

```

In [5]:
SELECT TOP 10 pro.product_name,
       COUNT(tr.transaction_date) as 'Transaction Count'
FROM dbo.products_dim pro
INNER JOIN dbo.transactions_fact tr
ON pro.product_id = tr.product_id
GROUP BY pro.product_name

product_name,Transaction Count
ADJ Rosy Sunglasses,143
Akron City Map,123
Akron Eyeglass Screwdriver,140
American Beef Bologna,124
American Chicken Hot Dogs,120
American Cole Slaw,124
American Corned Beef,118
American Foot-Long Hot Dogs,132
American Low Fat Bologna,126
American Low Fat Cole Slaw,125

ðŸ’¥ðŸ’¥ðŸ’¥Trick 7:Â Return the TOP 10 minimum total sales for each product

Use Case: The query below identifies the products that do not have enough sales.

Explanation: By selecting product\_id and total\_sale from the transactions\_fact table, the use MIN function to find the minimum total sales for each product. Then ORDER BY clause is used order the minimum sales in descending order.

  

```
SELECT TOP 10 product_id,
       Min(total_sale) as 'Minimum Sales'
FROM dbo.transactions_fact
GROUP BY product_id
ORDER BY 'Minimum Sales' DESC

```

In [6]:
SELECT TOP 10 product_id,
       Min(total_sale) as 'Minimum Sales'
FROM dbo.transactions_fact
GROUP BY product_id
ORDER BY 'Minimum Sales' DESC

product_id,Minimum Sales
941,18.96000099182129
141,18.86400032043457
1049,18.86400032043457
744,18.76799964904785
123,18.43199920654297
559,18.143999099731445
193,17.663999557495117
4,17.472000122070312
1117,17.472000122070312
80,17.423999786376953

ðŸ’¥ðŸ’¥ðŸ’¥Trick 8:Â Return the TOP 10 maximum total sales for each product

Use Case: The query below identifies the products that have more sales.

Explanation: Selecting product\_id and total\_sale from the transactions\_fact table, the MAX function is used to find the minimum total sales for each product. The ORDER BY clause is used to order the maximum sales in descending order.

```
SELECT TOP 10 product_id,
       MAX(total_sale) as 'Maximum Sales'
FROM dbo.transactions_fact
GROUP BY product_id
ORDER BY 'Maximum Sales' DESC
```

In [7]:
SELECT TOP 10 product_id,
       MAX(total_sale) as 'Maximum Sales'
FROM dbo.transactions_fact
GROUP BY product_id
ORDER BY 'Maximum Sales' DESC

product_id,Maximum Sales
1448,44.12800216674805
519,42.784000396728516
506,41.215999603271484
988,40.43199920654297
986,39.20000076293945
330,38.20800018310547
1310,38.20800018310547
746,38.20800018310547
372,38.20800018310547
641,38.20800018310547

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 9:Â Return the total quantity sold for each product

Use Case: This query is used to report on the total amount of products sold

Explanation: SELECT product\_id and quantity from the transactions\_fact table. Then, use the SUM function to find the quantity of product sold.

```
SELECT TOP 10 product_id,
       SUM(quantity) as 'Total Quantity'
FROM dbo.transactions_fact
GROUP BY product_id
ORDER BY 'Total Quantity' DESC

```

In [8]:
SELECT TOP 10 product_id,
       SUM(quantity) as 'Total Quantity'
FROM dbo.transactions_fact
GROUP BY product_id
ORDER BY 'Total Quantity' DESC

product_id,Total Quantity
20,1106
502,688
426,688
1380,685
948,673
952,661
915,654
1428,651
964,651
413,646

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ Trick 10: Return the LEAST total sales according to product brand AND name.

Use Case: The query returns the LEAST total sales for the product brand and name

Explanation: Select product\_brand, product\_name from product\_dim table, select total\_sale as Total Sales from transactions\_fact table. Use product\_id to JOIN the two tables. Use SUM function to find SUM(total\_sale). Use HAVINGÂ  SUM(tr.total\_sale) \< 400 and ORDER BY 'Total Sales' ASC.Â 

```
SELECT pro.product_brand 'Product Brand',
       pro.product_name 'Product Name',
       SUM(tr.total_sale) as 'Total Sales'
FROM dbo.products_dim pro
INNER JOIN dbo.transactions_fact tr
ON pro.product_id = tr.product_id
GROUP BY pro.product_brand, product_name
HAVING SUM(tr.total_sale) < 400
ORDER BY 'Total Sales' ASC
```

In [9]:
SELECT pro.product_brand 'Product Brand',
       pro.product_name 'Product Name',
       SUM(tr.total_sale) as 'Total Sales'
FROM dbo.products_dim pro
INNER JOIN dbo.transactions_fact tr
ON pro.product_id = tr.product_id
GROUP BY pro.product_brand, product_name
HAVING SUM(tr.total_sale) < 400
ORDER BY 'Total Sales' ASC

Product Brand,Product Name,Total Sales
Choice,Choice Bubble Gum,309.51998019218445
Bird Call,Bird Call Silky Smooth Hair Conditioner,338.6239825487137
Jardon,Jardon Spaghetti,366.33600902557373
Denny,Denny Glass Cleaner,368.83199310302734
Top Measure,Top Measure Chardonnay Wine,371.19998931884766
Denny,Denny Copper Cleaner,381.04000520706177
Imagine,Imagine Home Style French Fries,388.4159927368164
Cormorant,Cormorant Large Sponge,390.2079793214798
Modell,Modell Wheat Bread,390.86399269104004
PigTail,PigTail Low Fat Waffles,390.86399269104004

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ Trick 11:Â Return all Products with sales greater than 3600

Use Case: This query is used to identify product sales by specific margin

Explanation: By selecting product\_id, total\_sale as 'Total Sales' from the transactions\_fact table, use the SUM function to find the sum of total\_sale SUM(total\_sale). HAVING clause then used to limit the query to products with Total Sales \> 3600. Finally, ORDER BY product\_id

```
SELECT product_id,
       SUM(total_sale) as 'Total Sales'
FROM dbo.transactions_fact 
GROUP BY product_id
HAVING SUM(total_sale) > 3600
ORDER BY product_id

```

In [10]:
SELECT product_id,
       SUM(total_sale) as 'Total Sales'
FROM dbo.transactions_fact 
GROUP BY product_id
HAVING SUM(total_sale) > 3600
ORDER BY product_id

product_id,Total Sales
362,3893.776065826416
446,3606
519,3685.535991668701
712,3622.319944381714
941,3709.8400955200195
975,3735.935947418213
1380,3967.519874572754
1428,4020.5758571624756

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 12:Â Return the number of transactions for each city

Use Case: The query helps to report the number of transactions for each store location or city.

Explanation: INNER JOIN clause is used to join cities\_dim and transactions\_fact tables together. The COUNT(product\_id) as 'Transaction Count'. GROUP BY clause is then used to group the query by store\_city and then ORDER BY 'Transaction Count' DESC.

```
SELECT cy.store_city,
       COUNT(tr.product_id) as 'Transaction Count'
FROM dbo.cities_dim cy
INNER JOIN dbo.transactions_fact tr
ON cy.city_id = tr.city_id
GROUP BY cy.store_city
ORDER BY 'Transaction Count' DESC
```

In [11]:
SELECT cy.store_city,
       COUNT(tr.product_id) as 'Transaction Count'
FROM dbo.cities_dim cy
INNER JOIN dbo.transactions_fact tr
ON cy.city_id = tr.city_id
GROUP BY cy.store_city
ORDER BY 'Transaction Count' DESC

store_city,Transaction Count
Salem,25829
Tacoma,23573
Seattle,17427
Portland,17262
Los Angeles,16704
Bremerton,16582
San Diego,16533
Spokane,16500
Beverly Hills,14762
Vancouver,12752
Yakima,7096
Victoria,3318
Walla Walla,2813
Bellingham,2768
San Francisco,2763

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 13: Return the Product with the highest number of sales.

Use Case: By reporting on the product with the highest number of sales, you need to use the following query.

Explanation: Use LEFT JOIN clause to join the transactions\_fact and products\_dim tables together. The connection is done through product\_id. SUM(total\_sales) as 'Total Sales' from the transactions\_fact table. GROUP BY product\_name from the products\_dim table. ORDER BY 'Total Sales' DESC

```
SELECT TOP 1 pro.product_name,
       SUM(tr.total_sale) as 'Total Sales'
FROM dbo.transactions_fact tr
LEFT JOIN dbo.products_dim pro
ON pro.product_id = tr.product_id
GROUP BY product_name
ORDER BY 'Total Sales' DESC

```

In [12]:
SELECT TOP 1 pro.product_name,
       SUM(tr.total_sale) as 'Total Sales'
FROM dbo.transactions_fact tr
LEFT JOIN dbo.products_dim pro
ON pro.product_id = tr.product_id
GROUP BY product_name
ORDER BY 'Total Sales' DESC

product_name,Total Sales
Hermanos Green Pepper,4020.5758571624756

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 14:Â Report on the total sales and average days to ship according to cityÂ 

Use Case: This query helps to report on total sales and average days to ship products by city.

Explanation: Use INNER JOIN clause to join cities\_dim and transactions\_fact tables together. Use avg(days\_to\_ship) as 'Average Days to Ship,' SUM( total\_sale) as 'Total Sales'. GROUP BY store\_city and ORDER BY 'Total Sales' DESC

```
SELECT cy.store_city,
       avg(tr.days_to_ship) as 'Average Days to Ship',
       SUM(tr.total_sale) as 'Total Sales'	   
FROM dbo.cities_dim cy
INNER JOIN dbo.transactions_fact tr
ON cy.city_id = tr.city_id
GROUP BY cy.store_city
ORDER BY 'Total Sales' DESC
```

In [13]:
SELECT cy.store_city,
       avg(tr.days_to_ship) as 'Average Days to Ship',
       SUM(tr.total_sale) as 'Total Sales'	   
FROM dbo.cities_dim cy
INNER JOIN dbo.transactions_fact tr
ON cy.city_id = tr.city_id
GROUP BY cy.store_city
ORDER BY 'Total Sales' DESC

store_city,Average Days to Ship,Total Sales
Salem,5,359772.6567313671
Tacoma,5,332230.80072283745
Seattle,5,244510.1284675598
Portland,5,242800.89653372765
Los Angeles,5,234786.0483932495
San Diego,5,234326.0644943714
Bremerton,5,233966.20850372314
Spokane,5,232354.44847083092
Beverly Hills,5,207129.8722987175
Vancouver,5,179666.68842840195
Yakima,5,100269.1042432785
Victoria,5,47109.040068387985
Walla Walla,5,25535.840068221092
Bellingham,5,24578.400082707405
San Francisco,5,24196.78405368328

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 15:Â Return Total Sales according to Product and MonthÂ 

Use Case: To know the total sales for each month, the query below will do the magic for you.

Explanation:Â Â SelectÂ product\_name as 'Product Name' from the product\_dim table and transaction\_month as 'Transaction Month' from the transactions\_fact table. Use product\_id to JOIN the two tables. Use the SUM function to find SUM(total\_sale). GROUP BY product\_name and transaction\_month. Use HAVINGÂ  SUM(total\_sale) \< 10 and ORDER BY 'Total Sales' DESC.

```
SELECT pro.product_name as 'Product Name',
       tr.transaction_month as 'Transaction Month',
       SUM(tr.total_sale) as 'Total Sales'
FROM dbo.products_dim pro
    JOIN dbo.transactions_fact tr
    ON pro.product_id = tr.product_id
GROUP BY pro.product_name, tr.transaction_month
HAVING SUM(tr.total_sale) < 10
ORDER BY 'Total Sales' DESC

```

In [14]:
SELECT pro.product_name as 'Product Name',
       tr.transaction_month as 'Transaction Month',
	   SUM(tr.total_sale) as 'Total Sales'
FROM dbo.products_dim pro
	JOIN dbo.transactions_fact tr
	ON pro.product_id = tr.product_id
GROUP BY pro.product_name, tr.transaction_month
HAVING SUM(tr.total_sale) < 10
ORDER BY 'Total Sales' DESC

Product Name,Transaction Month,Total Sales
Bird Call Silky Smooth Hair Conditioner,September,9.983999371528625
Landslide Strawberry Jelly,January,9.79200029373169
Cormorant Large Sponge,October,9.151999473571777
CDR Apple Preserves,June,7.776000022888184
Top Measure Chardonnay Wine,October,7.423999786376953
PigTail Grape Popsicles,October,7.104000091552734
Denny Glass Cleaner,October,4.895999908447266

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 16: Return the last transaction date for products with product\_id less than 10Â 

Use Case: To r<span style="color: var(--vscode-foreground);">eturn the last transaction date for products with product_id less specific range.</span>

<span style="color: var(--vscode-foreground);">Explanation: SELECT product_id and MA(transaction_date) as 'Last Transaction' FROM transactions_fact table. Use WHERE clause and limit product_id &lt; 10. GROUP BY product_id</span>

<span style="color: var(--vscode-foreground);"><br></span>

```
SELECT product_id,
       MAX(transaction_date) as 'Last Transaction'
FROM dbo.transactions_fact
WHERE product_id < 10
GROUP BY product_id
ORDER BY product_idÂ Â 
```

<span style="color: var(--vscode-foreground);"><br></span>

In [15]:
SELECT product_id,
       MAX(transaction_date) as 'Last Transaction'
FROM dbo.transactions_fact
WHERE product_id < 10
GROUP BY product_id
ORDER BY product_id

product_id,Last Transaction
1,2023-12-06
2,2023-12-29
3,2023-12-23
4,2023-12-30
5,2023-12-23
6,2023-12-19
7,2023-12-27
8,2023-12-27
9,2023-12-23

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 17: Return products that had sales in cities in a specific country

Use Case: To r<span style="color: var(--vscode-foreground);">eturn products that had sales in cities in a specific country.</span>

<span style="color: var(--vscode-foreground);">Explanation: Three different tables are needed for this query. product_id and product_name from products_dim table. Use INNER JOIN clause to join the products_dim and transactions_fact tables together. And INNER JOIN transactions_fact and cities_dim tables together. Use WHERE clause LIKE to limit the search with product_name that start with 'U%'. ORDER BY product_id DESC.</span>

```
SELECT pro.product_id,
       pro.product_name
FROM dbo.products_dim pro
		JOIN dbo.transactions_fact tr
		ON pro.product_id = tr.product_id
		JOIN dbo.cities_dim cy
		ON tr.city_id = cy.city_id
WHERE product_name LIKE 'U%'
ORDER BY product_id DESC
```

In [17]:
SELECT TOP 10 pro.product_id,
       pro.product_name
FROM dbo.products_dim pro
		JOIN dbo.transactions_fact tr
		ON pro.product_id = tr.product_id
		JOIN dbo.cities_dim cy
		ON tr.city_id = cy.city_id
WHERE product_name LIKE 'U%'
ORDER BY product_id DESC

product_id,product_name
392,Urban Egg Substitute
392,Urban Egg Substitute
392,Urban Egg Substitute
392,Urban Egg Substitute
392,Urban Egg Substitute
392,Urban Egg Substitute
392,Urban Egg Substitute
392,Urban Egg Substitute
392,Urban Egg Substitute
392,Urban Egg Substitute

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 18:Â Return Products with sales data from the past year

Use Case: To return Products with sales data from the past year

Explanation: Select product\_name and total\_sale as 'Total Sales' from products\_dim and transactions\_fact tables, respectively, through INNER JOIN. Use SUM(total\_sale), WHERE transaction\_date \>= DATEADD(YEAR, -1, GETDATE()). GROUP BY product\_name ORDER BY 'Total Sales' DESC

```
SELECT TOP 10 pro.product_name as 'Product Name',
	   SUM(tr.total_sale) as 'Total Sales'
FROM dbo.products_dim pro
JOIN dbo.transactions_fact tr
ON pro.product_id = tr.product_id
WHERE tr.transaction_date >= DATEADD(YEAR, -1, GETDATE())
GROUP BY pro.product_name
ORDER BY 'Total Sales' DESC
```

In [18]:
SELECT TOP 10 pro.product_name as 'Product Name',
	   SUM(tr.total_sale) as 'Total Sales'
FROM dbo.products_dim pro
JOIN dbo.transactions_fact tr
ON pro.product_id = tr.product_id
WHERE tr.transaction_date >= DATEADD(YEAR, -1, GETDATE())
GROUP BY pro.product_name
ORDER BY 'Total Sales' DESC

Product Name,Total Sales
Even Better Havarti Cheese,618.0319900512695
Golden Orange Popsicles,602.1760177612305
Booker Low Fat Cottage Cheese,596.735990524292
Hilltop 200 MG Ibuprofen,575.9999723434448
Good White Zinfandel Wine,575.5520038604736
Imagine Waffles,551.0879898071289
Nationeel Potato Chips,546.8159923553467
Tri-State Red Pepper,544.895993232727
PigTail Frozen Chicken Wings,540.768009185791
Tell Tale Fresh Lima Beans,522.4160089492798

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 19: Return the TOP 10 Product brand according to salesÂ 

Use Case: To r<span style="color: var(--vscode-foreground);">eturn the TOP 10 Product brand according to sales&nbsp;</span>Â 

Explanation: SELECT product\_brand and quantity from the products\_dim and transactions\_fact tables. SUM(quantity) as 'Total Quantity'. INNER JOIN the two tables with product\_id. GROUP BY prodcut\_brand and ORDER BY 'Total Quantity' DESC

```
SELECT TOP 10 pro.product_brand,
       SUM(tr.quantity) as 'Total Quantity'
FROM dbo.products_dim pro
JOIN transactions_fact tr
ON pro.product_id = tr.product_id
GROUP BY pro.product_brand
ORDER BY 'Total Quantity' DESC

```

In [19]:
SELECT TOP 10 pro.product_brand,
       SUM(tr.quantity) as 'Total Quantity'
FROM dbo.products_dim pro
JOIN transactions_fact tr
ON pro.product_id = tr.product_id
GROUP BY pro.product_brand
ORDER BY 'Total Quantity' DESC

product_brand,Total Quantity
Hermanos,24229
Tell Tale,23004
Ebony,22703
Tri-State,22282
High Top,21139
Nationeel,19462
Fast,18498
Fort West,18285
Horatio,18243
Best Choice,17689

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 20:Â Return the TOP 5 Cities according to sales

Explanation: Select store\_city and SUM(total\_sale) as 'Total Sales' from cities\_dim and transactions\_fact tables. INNER JOIN with city\_id. GROUP BY store\_city

```
SELECT TOP 5 cy.store_city,
       SUM(tr.total_sale) as 'Total Sales'
FROM dbo.cities_dim cy
JOIN dbo.transactions_fact tr
ON cy.city_id = tr.city_id
GROUP BY cy.store_city
ORDER BY [Total Sales] DESC
```

In [20]:
SELECT TOP 5 cy.store_city,
       SUM(tr.total_sale) as 'Total Sales'
FROM dbo.cities_dim cy
JOIN dbo.transactions_fact tr
ON cy.city_id = tr.city_id
GROUP BY cy.store_city
ORDER BY [Total Sales] DESC

store_city,Total Sales
Salem,359772.6567313671
Tacoma,332230.80072283745
Seattle,244510.1284675598
Portland,242800.89653372765
Los Angeles,234786.0483932495

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 21:Â Return Total sales for each product by city

Explanation: You need three tables to report this information. INNER JOIN transactions\_fact with cities\_dim together via city\_id. INNER JOIN cities\_dim with products\_dim via product\_id. GROUP BY store\_city, product\_name

```
SELECT cy.store_city as 'Store City', 
        pro.product_name as 'Product Name', 
SUM(tr.total_sale) AS 'Total Sales'
FROM dbo.transactions_fact tr
        JOIN dbo.cities_dim cy 
        ON tr.city_id = cy.city_id
        JOIN dbo.products_dim pro 
        ON tr.product_id = pro.product_id
GROUP BY cy.store_city, pro.product_name;

```

In [21]:
SELECT TOP 10 cy.store_city as 'Store City', 
		pro.product_name as 'Product Name', 
SUM(tr.total_sale) AS 'Total Sales'
FROM dbo.transactions_fact tr
		JOIN dbo.cities_dim cy 
		ON tr.city_id = cy.city_id
		JOIN dbo.products_dim pro 
		ON tr.product_id = pro.product_id
GROUP BY cy.store_city, pro.product_name;

Store City,Product Name,Total Sales
Beverly Hills,Red Spade Sliced Chicken,97.34400272369385
Tacoma,Imagine Frozen Cheese Pizza,276.4800052642822
Salem,Black Tie City Map,205.98400688171387
Victoria,Colony Blueberry Muffins,47.616000175476074
Walla Walla,Red Spade Foot-Long Hot Dogs,51.263999938964844
San Francisco,Consolidated Apricot Shampoo,9.216000080108643
Portland,Washington Cream Soda,163.07200622558594
Los Angeles,Sunset Paper Towels,118.97599458694458
Bellingham,Consolidated HCL Nasal Spray,28.160000801086426
Victoria,Sunset Paper Plates,8.399999618530273

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 22:Â Return the percentage of total sales per product

Explanation: SELECT product\_name,Â <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">(</span><span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(121, 94, 38);">SUM</span><span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">(tr.total_sale) </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;"><font color="#000000">divide</font></span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">(</span><span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 255);">SELECT</span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(121, 94, 38);">SUM</span><span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">(total_sale) </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 255);">FROM</span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">dbo.transactions_fact) </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 0);">*</span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(9, 136, 90);">100</span><span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">) </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 255);">AS</span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(163, 21, 21);">'Percentage Sales' INNER JOIN transactions_fact table via product_id. WHERE clause is use to find product_name LIKE 'K%'</span>

```
SELECT pro.product_name, 
       (SUM(tr.total_sale) / (SELECT SUM(total_sale) 
       FROM dbo.transactions_fact) * 100) AS 'Percentage Sales' 
FROM dbo.products_dim pro 
        JOIN dbo.transactions_fact tr 
        ON pro.product_id = tr.product_id 
WHERE pro.product_name LIKE 'K%'
GROUP BY pro.product_name 

```

<span style="color: var(--vscode-foreground);"><br></span>

In [22]:
SELECT pro.product_name, 
       (SUM(tr.total_sale) / (SELECT SUM(total_sale) 
	   FROM dbo.transactions_fact) * 100) AS 'Percentage Sales' 
FROM dbo.products_dim pro 
		JOIN dbo.transactions_fact tr 
		ON pro.product_id = tr.product_id 
WHERE pro.product_name LIKE 'K%'
GROUP BY pro.product_name

product_name,Percentage Sales
Kiwi Lox,0.07006378065163273
Kiwi Scallops,0.07634925469749582

Trick 23:Â Return products that have sold more than average where theirÂ <span style="color: var(--vscode-foreground);">names begin with 'J' and end with 'S.'</span>

<span style="color: var(--vscode-foreground);">Explanation:</span>SELECT product\_id,Â <span style="color: var(--vscode-foreground);">&nbsp;product_name&nbsp;</span>Â <span style="color: var(--vscode-foreground);">product_bran&nbsp;</span>Â <span style="color: var(--vscode-foreground);">from products_dim&nbsp;</span>Â <span style="color: var(--vscode-foreground);">WHERE product_id IN (SELECT product_id from transactions_fact. Then GROUP BY product_id Use HAVING SUM(total_sale) &gt;&nbsp;</span>Â <span style="color: var(--vscode-foreground);">(SELECT AVG(total_sale) FROM transactions_fact))&nbsp;</span>Â <span style="color: var(--vscode-foreground);">AND product_brand LIKE 'J%S'</span>

<span style="color: var(--vscode-foreground);"><br></span>

```
SELECT product_id,
       product_name,
	   product_brand
FROM dbo.products_dim 
WHERE product_id IN (SELECT product_id FROM dbo.transactions_fact GROUP BY product_id HAVING SUM(total_sale) > 
(SELECT AVG(total_sale) FROM dbo.transactions_fact))
AND product_brand LIKE 'J%S'
```

In [23]:
SELECT product_id,
       product_name,
	   product_brand
FROM dbo.products_dim 
WHERE product_id IN (SELECT product_id FROM dbo.transactions_fact GROUP BY product_id HAVING SUM(total_sale) > 
(SELECT AVG(total_sale) FROM dbo.transactions_fact))
AND product_brand LIKE 'J%S'

product_id,product_name,product_brand
12,Jeffers Oatmeal,Jeffers
13,Jeffers Corn Puffs,Jeffers
14,Jeffers Wheat Puffs,Jeffers
15,Jeffers Grits,Jeffers

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 24:Â Return all products that were never sold

Explanation: SELECT product\_name AS 'Product Name'Â <span style="color: var(--vscode-foreground);">from products_dim&nbsp;</span>Â <span style="color: var(--vscode-foreground);">WHERE product_id NOT IN (SELECT DISTINCT product_id from transactions_fact)&nbsp;</span>Â <span style="color: var(--vscode-foreground);">UNION</span>

SELECT product\_nameÂ <span style="color: var(--vscode-foreground);">from products_dim&nbsp;</span>Â <span style="color: var(--vscode-foreground);">WHERE product_brand = 'BrandC' AND product_id NOT IN (SELECT DISTINCT product_id from transactions_fact)</span>

```
SELECT product_name AS 'Product Name'
FROM dbo.products_dim
WHERE product_id NOT IN (SELECT DISTINCT product_id FROM dbo.transactions_fact)
UNION
SELECT product_name
FROM dbo.products_dim
WHERE product_brand = 'BrandC' AND product_id NOT IN (SELECT DISTINCT product_id FROM dbo.transactions_fact)

```

In [26]:
SELECT product_name AS 'Product Name'
FROM dbo.products_dim
WHERE product_id NOT IN (SELECT DISTINCT product_id FROM dbo.transactions_fact)
UNION
SELECT product_name
FROM dbo.products_dim
WHERE product_brand = 'BrandC' AND product_id NOT IN (SELECT DISTINCT product_id FROM dbo.transactions_fact)

Product Name
CDR Grape Jelly
King Rosy Sunglasses
Toretti Rosy Sunglasses

ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥Trick 25:Â Return the Total Sales by each year

Explanation:Â SELECT transaction\_year 'Year of Transaction', Use functionÂ <span style="color: var(--vscode-foreground);">SUM(total_sale) AS 'Total Sale'&nbsp;</span>Â <span style="color: var(--vscode-foreground);">FROM transactions_fact Use clause&nbsp;</span>Â <span style="color: var(--vscode-foreground);">GROUP BY transaction_year&nbsp;</span>Â <span style="color: var(--vscode-foreground);">UNION</span>

SELECT transaction\_year AS 'Year of Transaction',Â <span style="color: var(--vscode-foreground);">&nbsp;SUM(total_sale) AS 'Total Sales'&nbsp;</span>Â <span style="color: var(--vscode-foreground);">FROM transactions_fact&nbsp;</span>Â <span style="color: var(--vscode-foreground);">WHERE transaction_year = 2023&nbsp;</span>Â <span style="color: var(--vscode-foreground);">GROUP BY transaction_year;</span>

```
SELECT transaction_year 'Year of Transaction', 
       SUM(total_sale) AS 'Total Sales'
FROM dbo.transactions_fact
GROUP BY transaction_year
UNION
SELECT transaction_year AS 'Year of Transaction', 
        SUM(total_sale) AS 'Total Sales'
FROM dbo.transactions_fact
WHERE transaction_year = 2023
GROUP BY transaction_year;

```

In [27]:
SELECT transaction_year 'Year of Transaction', 
       SUM(total_sale) AS 'Total Sales'
FROM dbo.transactions_fact
GROUP BY transaction_year
UNION
SELECT transaction_year AS 'Year of Transaction', 
        SUM(total_sale) AS 'Total Sales'
FROM dbo.transactions_fact
WHERE transaction_year = 2023
GROUP BY transaction_year;

Year of Transaction,Total Sales
2022,1198060.434512496
2023,1525172.5470485687