# **SQL TIPS AND TRICKS**

1\. Query Heading

Use Case:  
Explanation:  
Code  

<span style="color: #0000ff;">SELECT</span> transaction\_month,

        <span style="color: #795e26;">SUM</span>(total\_sale) <span style="color: #0000ff;">AS</span> total\_sales

<span style="color: #0000ff;">FROM</span> dbo.transactions\_fact

<span style="color: #0000ff;">GROUP BY</span> transaction\_month

<span style="color: #0000ff;">ORDER BY</span> transaction\_month <span style="color: #0000ff;">DESC</span>;

In [1]:
SELECT TOP 5 transaction_month, 
		SUM(total_sale) AS total_sales
FROM dbo.transactions_fact
GROUP BY transaction_month
ORDER BY transaction_month DESC;

transaction_month,total_sales
September,219294.91243445873
October,205500.7844363451
November,274695.6645374298
May,215285.77651572227
March,232756.20839560032

2\. Query Heading